body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("https://images.pexels.com/photos/4194854/pexels-photo-4194854.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.input-container,
.results-container {
  flex: 1 1 50%;
  padding: 20px;
  box-sizing: border-box;
}

.input-container {
  border-right: 1px solid #ccc;
}

.results-container {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

h1,
h2 {
  margin-top: 0;
  color: #fff;
  letter-spacing: 3px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: white;
}

input[type="text"],
input[type="date"] {
  width: calc(100% - 16px);
  padding: 10px;
  margin: 5px 0;
  box-sizing: border-box;
}

button {
  display: flex;
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  width: 90px;
  justify-content: center;
}

button:hover {
  background-color: #45a049;
}

/* Style for events list */
#events-list {
  list-style-type: none;
  padding: 0;
  background-color: #fff;
}

#events-list li {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#events-list li span {
  font-weight: 300;
}

/* Style for delete button */
#delBtn {
  background-color: #f44336;
}

#delBtn:hover {
  background-color: #e20805;
}

/* Style for edit button */
#editBtn {
  background-color: #4caf50;
}

#editBtn:hover {
  background-color: #083054;
}

/* Common styles for both buttons */
#events-list li button {
  color: white;
  padding: 5px 10px;
  margin-left: 10px;
  border: none;
  cursor: pointer;
  border-radius: 3px;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .input-container,
  .results-container {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid #ccc;
  }
}

#scrollToTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  background-color: #daa520;
  color: white;
  border: none;
  cursor: pointer;
  padding: 15px;
  width: 20px;
  height: 20px;
  align-items: center;
  justify-content: center;
}

#scrollToTopBtn:hover {
  background-color: #45a049;
}
