body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("https://images.pexels.com/photos/4194854/pexels-photo-4194854.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.input-container,
.results-container {
  flex: 1 1 50%;
  padding: 20px;
  box-sizing: border-box;
}

.input-container {
  border-right: 1px solid #ccc;
}

.results-container {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

h1,
h2 {
  margin-top: 0;
  color: #fff;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="date"],
button {
  width: calc(100% - 16px);
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

button {
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  height: 30px;
  border-radius: 50%;
}

button:hover {
  background-color: #45a049;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 10px;
  background-color: #fff;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li span {
  flex: 1;
}

li button {
  background-color: #ff6347;
  font-weight: bold;
  font-size: 16px;
  line-height: 1;
  padding: 0;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .input-container,
  .results-container {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid #ccc;
  }
}
